.top
    display: flex
    align-items: flex-start
    margin-bottom: 60px
    @media (max-width: 780px)
        flex-direction: column-reverse
        align-items: center

        .categories
            margin-right: 0       
            background-color: red         
            li
                padding: 8px 20px
   


.title 
    margin-bottom: 40px
    font-size: 38px
    font-weight: 800
.items     
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 65px
    grid-row-gap: 65px
    margin-bottom: 65px
    text-align: center
    @media (max-width: 1540px)    
      grid-template-columns: repeat(3, 1fr)
    @media (max-width: 1160px)          
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 780px)          
      grid-template-columns: repeat(1, 1fr)

      